#filterContainer {
    background: rgba(255, 255, 255, 0.8);
}

#alcoholicFilter {
    margin-left: 0px !important;
}

.bg-primary, .btn-primary, .border-primary, .primary, .outline-primary  {
    background-color: #FF5722 !important;
}