@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: black
}



#styling {
    height: 100vh
}
.navbar-color {
    background-color: #8BC34A  !important;
}

.main-color {
    background-color: #F2F2F2 !important;
}


.bg-primary, .btn-primary, .border-primary, .primary, .outline-primary  {
    background-color: #FF5722 !important;
    border-color: #FF5722 !important;
}

#image {
    margin-left:-40px;
    float: left !important;
    margin-top: 10px;
}

@media only screen and (max-width :767.9px) {
    #image {
        margin-left: 20px;
    }

}

@media only screen and (min-width :768px) {
    #image {
        margin-left:-40px;
        float: left !important;
        margin-top: 10px;
    }
}


#card-container {
    padding: 0px;
}





